.bigbox {
  width: 305px;
  padding-right: 10px;
  padding-left: 12px;
  padding-bottom: 12px;
  box-shadow: 10px 10px lightgray;
  text-align: left;
  font-family: Serif;
  border: 1px solid lightgray;
  border-radius: 10px;
  }
/* Used W2 Schools tutorials on CSS Borders, CSS Padding, and CSS box-shadow property. */
.header{
  font-size: 40px;
  border: 1px solid transparent;
}

.arcticwolf{
  display: block;
  width: 300px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  /* Used W2 Schools tutorials on CSS Border Colors and CSS Display. */
}

.littlebox{
  width: 280px;
  padding-right: 10px;
  padding-left:  10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.shortpara{
  font-style: italic;
  border: 1px solid transparent;
}

.wolfinfo {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  /* Used W2 Schools tutorials on CSS List and Removing Default Settings. */
}

.wolffacts {
    font-weight: bold;
}

.longpara{
  text-align: left;
  border: 1px solid transparent;
}
